.button {
 background-color:#DBD9D9;
 color: black;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 border-radius: 12px;
 webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
 width : 175px;
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#movieparam {
 background-color: #DBD9D9;
 color: black;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 border-radius: 12px;
 webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
 width : 175px;
}



#youchooseparam {
 background-color: #DBD9D9;
 color: black;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 border-radius: 12px;
 webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
 width : 175px;
}

#foodparam {
 background-color: #DBD9D9;
 color: black;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 border-radius: 12px;
 webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
 width : 175px;
}

#activparam {
 background-color:  #DBD9D9;
 color: black;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 border-radius: 12px;
 webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
 width : 175px;
}

#choose {
 background-color: #DBD9D9;
 color: black;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 border-radius: 12px;
 webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
 width : 175px;
}

.button:hover {
  background-color: #C6F9F5; /* light blue*/
  color: black;
}

.button:hover {
  background-color: #C6F9F5; /* light blue*/
  color: black;
}

body {
  color:#05CDB9;
  padding: 40px;
  text-align:center;
  font-size: 45px;
  font-weight: bolder;
  background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0308/8974/0_0_solid_FFE5E5_pale_pastel_peach_mirror.png");
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
table{
  margin: 0px auto;
  border-collapse: collapse;
  font-size: 0px;

}
input{
    border-radius: 12px;
    text-align: center;
    height: 150%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 10px;

}
#yctitle{
  line-height: 2%;
}
#plus{
  background-color: white;
  border-radius: 6px;
  padding-left: : 2px;
}
.back{
  color:#05CDB9;
  text-align:center;
  font-size: 15px;
  font-weight: bolder;
  background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0308/8974/0_0_solid_FFE5E5_pale_pastel_peach_mirror.png");
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  line-height: 2%;
}
#pickbutton{
  background-color: #DBD9D9;
  color: black;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  border-radius: 12px;
  webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width : 175px;
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#pickbutton:hover {
  background-color: #C6F9F5; /* light blue*/
  color: black;
}

#homedescrip {
 font-style: italic;
}
